/* Hero */
@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fade-up {
  animation: fade-up 0.4s ease-out;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOut 1s ease-out forwards;
}

/* Settings Page */

.nav-tab-wrapper {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.nav-tab {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: #0073aa;
  border: 1px solid transparent;
  border-bottom: none;
  background: #f1f1f1;
  cursor: pointer;
  transition: 0.3s;
}

.nav-tab:hover {
  background: #e0e0e0;
}

.nav-tab-active {
  background: #fff;
  border: 1px solid #ccc;
  border-bottom: 1px solid #fff;
}

.tab-pane {
  display: none;
  padding: 20px;
  background: #fff;
  border: 1px solid #ccc;
}

.tab-pane.active {
  display: block;
}

/* Hero Section */
.hero-sm-section {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Slightly stronger shadow */
  padding: 5px 20px;
  border-radius: 10px;
  height: 75vh;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

/* Container for the hero image */
.hero-sm-image-container {
  overflow: hidden; /* Prevents the image from overflowing */
}

/* Hero Image */
.hero-image {
  height: auto; /* Maintains aspect ratio */
  width: 100%; /* Full width */
  object-fit: cover; /* Scales the image to cover the entire container */
}

/* AI Overlay */
.ai-overlay {
  /* position: fixed;
  margin: 10px 0 !important; */
}

/* Prevent scrolling when overlay is open */
body.no-scroll {
  overflow: hidden;
}
